.square {
  border: 1px outset blue;
  background-color: lightBlue;
  height:20px;
  width:20px;
  cursor:pointer;
  display: inline-block;
}

.square:hover {
  background-color: blue;
  color:white;
}

.starting {
  background-color: green;
}

.ending {
  background-color: red;
}

.wall {
  background-color: black;
}